p {
  font-family: Arial;
}

.title {
  font-size:45px;
  margin-bottom: 25px;
}

input {
  display:block;
  width: 400px;
  background-color: rgb(240,240,240);
  border: none;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size:18px;
}

.destination-textbox {
  margin-bottom: 35px;
}

.request-button {
  background-color: black;
  color:white;
  border:none;
  font-size:18px;
  margin-right:20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  cursor:pointer
}

.schedule-button {
  background-color: rgba(226, 214, 214, 0.993)
  border:none;
  padding-top:15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size:18px;
  cursor: pointer;
}